@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

@layer components {
    .primary-color {
      @apply text-[#F112A2]
    }
  }
.card:hover .card-inner{
  opacity: 100;
  transform: translateY(-7px);
  transition: all .5s ease-in;
}

.card-inner{
  position: absolute;
  bottom: 0;
  opacity: 0;
  transition: all .5s ease-in;
}

.bg-conference{
  background-size: 100%;
 background-repeat: no-repeat;
}
.pricing-card{
  flex-grow: 1;
  flex-basis: 0;
  min-width: 0;
  flex: 1
}
.navbar{
  border-bottom: 1px solid #8243D1;
}
